recursive-include python2 *.py *.txt
recursive-include python3 *.py *.txt
graft tests
include *.md
include CHANGELOG
include LICENSE
include requirements*.txt
global-exclude __pycache__
global-exclude *.py[cod]
